<section>

  <h3 id="about-me">About Myself</h3>

  <div class="face-lockup">

    <div class="clairesFace"></div>

  <!--  <div class="icon-pencil"></div>
    <div class="icon-mouse"></div>
    <div class="icon-browser"></div>
    <div class="icon-video"></div> -->


  </div>

  <div class="blurb">
    <p>
      <strong>I am very bubbly and cheerful</strong> and hope to bring these out in my designs. I am
      also heavily influenced by nature, a theme I intend to work on more in the next
      year. I work my crafting around a job in a pub but have big ambitions for The
      Penguin Theory
    </p>
   </div>

</section>
