<section>

  <h3 id="clients">Clients</h3>

<div class="client-controls">
  <div class="client-control-next"></div>
  <div class="client-control-prev"></div>
</div>

  <div class="clients-belt">

    <div class="client-unit">

      <div class="client-face">
        <img src="/assets/img/clients/devito.jpg" alt="devito" height="100px" width="150px">
        <strong class="client-name">Danny Devito</strong>
      </div>

      <div class="client-content">
        <p>Really lovely card - delighted :-) thank you!</p>
      </div>

    </div>
  </div>


</section>
